---
import siteConfig from '@/siteConfig.json';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Search from "astro-pagefind/components/Search";
import '@/styles/pagefind-ui-custom.css';
import Hero from "@/components/Hero.astro";
import Card from '@/components/Card.astro';
import RandomPost from '@/components/RandomPost.astro';
---

<BaseLayout pageTitle={siteConfig.default.autor} subTitle={siteConfig.default.description}>

  <h2>Bienvenida</h2>

  <ul class="-mt-4">
    <div class="my-8">
      <Hero />
    </div>

    <Card href="/portfolio" title="Portfolio">
      Visita mi portfolio para saber algo más sobre mis conocimientos aplicados.
    </Card>
  </ul>

  <ul role="list" class="link-card-grid mt-8">
    <Card href="/blog/1" title="Blog">
      Conoce algo más sobre los temas de estudio que me interesan
    </Card>

    <Card href="/temas" title="Temas">
      Accede a la lista de temas del blog y a los enlaces recomendados
    </Card>
  </ul>

  <dir class="mt-8 ps-0">
    <Search id="search" aria-label="Buscar" className="pagefind-ui" uiOptions={{ showImages: false }} />
  </dir>

  <RandomPost />

</BaseLayout>