---
import '@/styles/pagefind-ui-custom.css';
import Search from 'astro-pagefind/components/Search';
import BaseLayout from '@/layouts/BaseLayout.astro';
import NewPost from '@/components/NewPost.astro';
import ResourceList from '@/components/ResourceList.astro';
import AllTags from '@/components/AllTags.astro';
import Card from '@/components/Card.astro';
import resources from "@/content/_resources.json";
---

<BaseLayout pageTitle="Temas" subTitle="Enlaces recomendados">

  <h2 class="mt-2 mb-6">Buscador</h2>

  <Search id="search" aria-label="Buscar" className="pagefind-ui" uiOptions={{ showImages: false }} />

  <NewPost />

  <ul class="link-card-grid mt-10">
    <ResourceList 
      title="Destacados del blog"
      resources={resources.in} route="/blog/"
    />
    <ResourceList
      title="Enlaces externos"
      resources={resources.out}
    />
  </ul>

  <div class="md:-mt-4 mb-10">
    <AllTags title="Etiquetas del blog" />
  </div>

  <Card href="/social" title="Social">
    Accede a las útimas publicaciones que comparto en mis redes sociales.
  </Card>

</BaseLayout>