---
interface Resource {
  href: string;
  title: string;
}

import '@/styles/pagefind-ui-custom.css';
import Search from 'astro-pagefind/components/Search';
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPostLink from '@/components/BlogPostLink.astro';
import RandomPost from '@/components/RandomPost.astro';
import AllTags from '@/components/AllTags.astro';
import resources from "@/content/_resources.json";
---

<BaseLayout pageTitle="Temas" subTitle="Enlaces recomendados">
  
  <h2 class="mt-2 mb-6">Buscador</h2>

  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />

  <ul class="link-card-grid mt-8">
    { resources.in.length ? (
      <li>
        <ul class="md:mb-4">
          <h2 class="mt-0 md:mt-2 md:pb-2">Destacados del blog</h2>
          {resources.in.map((resource: Resource) => (
            <BlogPostLink href={`/blog/${resource.href}`} title={resource.title} />
          ))}
        </ul>
      </li>
      ) : ( "" )
    }

    { resources.out.length ? (
      <li>
        <ul class="md:mb-4">
          <h2 class="mt-0 md:mt-2 md:pb-2">Enlaces externos</h2>
          {resources.out.map((resource: Resource) => (
            <BlogPostLink href={resource.href} title={resource.title} />
          ))}
        </ul>
      </li>
      ) : ( "" )
    }
  </ul>

  <RandomPost />

  <AllTags title="Etiquetas del blog" />

</BaseLayout>