---
interface allPosts {
  allPosts: Record<string, any>[];
}

interface Props {
    title?: string;
}

import { getCollection } from 'astro:content';
import TagLabel from '@/components/TagLabel.astro';

const { title } = Astro.props;

const allPosts = await getCollection('posts');

const allTags = [...new Set(allPosts.flatMap(post => post.data.tags))];
---


{ allTags.length ? (
    <div data-pagefind-ignore="all">
        {title && <h2>{title}</h2>}
        <div class="flex flex-wrap mt-4">
        {allTags
            .sort((a, b) => String(a).localeCompare(String(b)))
            .map(tag => <TagLabel tag={tag} />)}
        </div>
    </div>
) : ( "" ) }
