---
let { href, text, ariaLabel, small } = Astro.props;
// Si 'href' es "#" se entiende como botón deshabilitado, pero se muestra.
const isDisabled = href == "#";
let buttonClass = "inline-block px-3 py-1 font-bold rounded ";
buttonClass = buttonClass + (href != "#"
    ? "bg-violet-500 text-white hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-opacity-50 transition-colors"
    : "bg-gray-200 text-gray-500 dark:bg-gray-800 cursor-not-allowed disabled");
if (small) buttonClass = buttonClass + " text-sm";
if (!href) href = Astro.request.headers.get('referer') || '/';
---

<a href={href} role="button" class={buttonClass} data-astro-prefetch
    aria-label={ariaLabel || text} aria-disabled={isDisabled}>
    {text}
</a>