---
interface Props {
  href: string;
  img: any;
  alt: string;
  styles?: string;
}

import { Image } from "astro:assets";

const { href, img, alt, styles } = Astro.props;
---

<li class="post-card">
    <a href={href} role="button" data-astro-prefetch>

        <div class="md:flex">
            <Image src={img} alt={alt} inferSize loading="eager" class={styles} />

            <div class="md:ms-8">
                <slot />
            </div>
        </div>

    </a>
</li>