---
interface Props {
  href: string;
  img: any;
  alt: string;
  styles?: string;
}

import { Image } from "astro:assets";

const { href, img, alt, styles } = Astro.props;
---

<li class="post-card">
    <a href={href} role="button" aria-label="Sobre mi" data-astro-prefetch>

        <div class="md:flex md:items-center">
            <Image src={img} alt={alt} loading="lazy" class={styles} />

            <div class="md:ms-8 md:w-full text-center md:text-left">
                <slot />
            </div>
        </div>

    </a>
</li>