<h3>Me presento</h3>

<p>Además de programar, me apasiona aprender y compartir mis conocimientos, la Informática, la 
<a href="/blog/museohc-en-g-seis">retroinformática</a>, la tecnología, el diseño gráfico y las <a href="/blog/series-recomendadas">series de TV</a>.</p>

<p>Durante mi trayectoria profesional he conocido varios sectores productivos relacionados con las TIC, adquiriendo una amplia visión de conjunto en el área.</p>

<p>Como programador, me gusta el trabajo bien hecho. Pienso que el buen software debe ser intuitivo y fácil de aprender, y que los errores de diseño desmerecen el trabajo del equipo de desarrollo.</p>

<p>Estoy abierto a nuevas experiencias y a aprender para superarme. Me motiva especialmente el teletrabajo y el trabajo en equipo.</p>