---
interface Props {
  href: string;
  label: string;
  isActive: boolean;
}

const { href, label, isActive } = Astro.props;
---

<li>
  {isActive ? (
    <span class="menuItem active cursor-default" aria-current="page">
      {label}
    </span>
  ) : (
    <a href={href} class="menuItem" data-astro-prefetch>
      {label}
    </a>
  )}
</li>