---
import { getCollection } from 'astro:content';
import { getSlugName } from '@/scripts/urlUtils';
import BlogPostCard from "@/components/BlogPostCard.astro";

const allPosts: Record<string, any>[] = await getCollection('posts');

let sortedPosts;
if (allPosts.length) {
  sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )

  const title = sortedPosts[0].data.title;
  const prefixedTitle = title.startsWith("Nuevo: ") ? title : `Nuevo: ${title}`;   
  sortedPosts[0].data.title = prefixedTitle;
}
---

<ul class="my-8 text-center md:text-left">
  {sortedPosts && sortedPosts.map((post, index) => (
    <div class={index === 0 ? '' : 'hidden'} data-post-index={index}>
      <BlogPostCard
        frontmatter={post.data}
        href={`${post.data.route || getSlugName(post.slug)}`}
        ignorePrefetch = {true}
      />
    </div>
  ))}
</ul>

<script is:inline>
  let interval;

  function handleContentLoaded() {
    const $postContainers = document.querySelectorAll('[data-post-index]');
    let currentIndex = randomIndex = 0;
    const maxAttempts = 5;

    function showRandomPost() {
      if ($postContainers.length <= 1) return;

      let attempts = 0;
      do {
        randomIndex = Math.floor(Math.random() * $postContainers.length);
        attempts++;
      } while (randomIndex === currentIndex && attempts < maxAttempts && $postContainers.length > 1);

      const $actual = $postContainers[currentIndex];
      const $next = $postContainers[randomIndex];

      $actual.classList.add('fade-out');

      $actual.addEventListener('transitionend', function fadeOutHandler() {

        $actual.classList.add('hidden');
        $actual.classList.remove('fade-out');

        $next.classList.remove('hidden');
        
        currentIndex = randomIndex;

        $actual.removeEventListener('transitionend', fadeOutHandler);
      }, { once: true });
    }

    interval = setInterval(showRandomPost, 7000);
  }

  function cleanup() {
    if (interval) {
      clearInterval(interval);
    }
  }

  document.addEventListener('astro:page-load', handleContentLoaded);
  document.addEventListener('astro:before-preparation', cleanup); 
</script>

<style>
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>
