---
interface Props {
    tag: string | undefined;
}

let { tag } = Astro.props;
let href;
if (tag == "Todas las entradas") href = "/blog/1";
else href = `/blog/tag/${tag}`;
---

{ (tag !== undefined) &&
    <p class="tag">
        <a href={href} data-astro-prefetch>
            <small>{tag}</small>
        </a>
    </p>
}
