---
interface Props {
    tag: string | undefined;
}

const { tag } = Astro.props;
---

{ (tag !== undefined) &&
    <p class="tag">
        <a href={`/blog/tag/${tag}`} data-astro-prefetch>
            <small>{tag}</small>
        </a>
    </p>
}
