---
// Revisar: buscador e iconos con colores B/W
// Revisar: script no funciona al cambiar de página por uso de ViewTransitions
// Cambiar: tailwind.config.mjs de 'media' a 'class'
---

<button
  id="themeToggle"
  type="button"
  class="py-1 px-2 rounded-lg bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-200"
  aria-label="Toggle theme"
>
  <svg 
    id="sun-icon"
    class="w-4 h-4 text-gray-800 dark:text-gray-200 hidden dark:block" 
    width="24" 
    height="24" 
    viewBox="0 0 24 24" 
    fill="none" 
    stroke="currentColor" 
    stroke-width="2" 
    stroke-linecap="round" 
    stroke-linejoin="round"
  >
    <circle cx="12" cy="12" r="4"/>
    <path d="M12 2v2"/>
    <path d="M12 20v2"/>
    <path d="m4.93 4.93 1.41 1.41"/>
    <path d="m17.66 17.66 1.41 1.41"/>
    <path d="M2 12h2"/>
    <path d="M20 12h2"/>
    <path d="m6.34 17.66-1.41 1.41"/>
    <path d="m19.07 4.93-1.41 1.41"/>
  </svg>

  <svg 
    id="moon-icon"
    class="w-4 h-4 text-gray-800 dark:text-gray-200 block dark:hidden" 
    width="24" 
    height="24" 
    viewBox="0 0 24 24" 
    fill="none" 
    stroke="currentColor" 
    stroke-width="2" 
    stroke-linecap="round" 
    stroke-linejoin="round"
  >
    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/>
  </svg>
</button>

<script>
  const getTheme = (): 'light' | 'dark' => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      const savedTheme = localStorage.getItem('theme');
      // Validamos que el tema guardado sea uno de los valores permitidos
      if (savedTheme === 'light' || savedTheme === 'dark') {
        return savedTheme;
      }
    }
    // Si no hay tema guardado, usamos la preferencia del sistema
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  };

  const theme = getTheme();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    const newTheme = isDark ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
  }

  document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
</script>