---
interface Props {
    pageTitle: string;
    subTitle?: string;
}

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/styles/base.css';

const { pageTitle, subTitle } = Astro.props;
---

<html lang="es">
  <BaseHead pageTitle={pageTitle} subTitle={subTitle} />
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    {subTitle && <p class="subtitle">{subTitle}</p>}
    <div class="my-8">
      <slot />
  </div>
    <Footer />

    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>

