---
interface Props {
    pageTitle: string;
    subTitle?: string;
}

import '@/styles/base.css';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const disqusShortname = 'codice-1';

const { pageTitle, subTitle } = Astro.props;
const showTitle = pageTitle != 'Error 404';
const shouldIgnore = pageTitle.startsWith('Tema: ') || pageTitle === 'Blog'; // ignora búsquedas
---

<html lang="es">
  <BaseHead pageTitle={pageTitle} subTitle={subTitle} />

  <body data-pagefind-ignore={shouldIgnore ? '' : null}>
    <Header />
    {showTitle && <h1>{pageTitle}</h1>}
    {subTitle && <p class="subtitle">{subTitle}</p>}
    <div class="my-8">
      <slot />
    </div>
    <Footer />

    <script>
      import '../scripts/menu.js';
    </script>

    <script id="dsq-count-scr" src={'//' + disqusShortname + '.disqus.com/count.js'} async is:inline></script>
    
  </body>

</html>

